{% if not show_post_editor %}
    <div class="show_post_editor_button">
        <form action="/show_post_editor" method="post" enctype="multipart/form-data">
            <button type="submit">Add post</button>
        </form>
    </div>
{% else %}
    <div class="show_post_editor_button">
        <form action="/hide_post_editor" method="post" enctype="multipart/form-data">
            <button type="submit">Hide</button>
        </form>
    </div>

    <div class="add_post">
        <form action="/add_post" method="post" enctype=multipart/form-data>
            <textarea name="title" placeholder="Title" style="width:70%;height:13%"></textarea>
            <div class="center_all">
                <label class="custom-file-upload">
                    <input type="file" name="thumbnail"/>
                    Choose a thumbnail from your local files...
                </label>
            </div>
            <textarea name="post_text" placeholder="Anything new?" style="height:50%"></textarea><br>
            <button type="submit" style="float:right">Add post</button>
        </form>
    </div>
{% endif %}