<!DOCTYPE html>
<div class="brick">
    <!-- Title -->
    <h3 class="title is-3"> {{ post_id.instance().title }} </h3>

    {% if post_id.instance().thumbnail() is not none %}
        <img src="{{ url_for('static', filename=post_id.instance().thumbnail()) }}" alt="thumbnail">
    {% endif %}

    {% for tile in post_id.instance().content.tiles %}
        <div class="desc">
            <p> {{ tile }} </p>
        </div>
    {% endfor %}
    <p style="font-size: 15px"> Author: <i>{{ post_id.instance().record_information.author_id.instance().name }}</i></p>
</div>