<html class="has-lab-nav-bottom lab-theme-light">
<head>
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/labs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_post_form.css') }}">
    <title>Profile</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body class="labs-template-default single single-labs postid-2409 logged-in admin-bar no-customize-support">
<div class="topnav">
    {% if current_user.is_authenticated %}
        <a class="active" href="/profile">Profile</a>
    {% endif %}
    <a href="/feed">Feed</a>

    {% include 'login-logout_field.html' %}
</div>

<div class="container">
    {% include 'add_post.html' %}
    {% include 'posts_greed.html' %}
</div>
</body

</html>
