<html>
<head>
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_post_form.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Profile</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    {% include 'topnav.html' %}

    <div class="container">
        {% include 'add_post.html' %}
        {% include 'posts_greed.html' %}
    </div>
</body>
</html>
